// List Layout
// Desktops, large screens
&.editing {
    .remui-format-list {
        .sections {
            .section {
                .side {
                    margin: 0;

                    &.left {
                        // padding: 0.5rem 0!important;
                        align-items: center;
                        gap: 4px;
                        .sectionname {
                            order: 2;
                        }

                        .sectionbadges {
                            order: 3;
                        }
                    }

                    &.right {
                        gap: 8px;
                    }
                }
                .sectionname {
                    display: flex;
                    align-items: center;
                }
                .card-title {
                    .fa-angle-up,
                    .fa-angle-down {
                        margin-right: 2%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            #changenumsections {
                width: 100%;
            }
        }
    }
}

.modtype_label {
    .contentwithoutlink {
        padding: 0px;
    }
}

&:not(.editing) {
    .remui-format-list {
        .sections {
            .section {
                .right.side {
                    margin-top: 0;
                    gap: 24px;
                }
                .sectionname {
                    .panel-title {
                        .float-right {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        &.one-section-format {
            .sections {
                .section {
                    .sectionname {
                        .panel-title {
                            .float-right {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Styling for list format
#list-container {
    margin-top: 48px;
}

.remui-format-list {
    .sections {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .section {
            padding: 24px;

            &:not(#section-0) {
                background: white;
                border-radius: $border-radius-8;
                border: 1px solid $light-border;
            }

            .content {

                .panel-title,
                h3 a {
                    margin: 0px;
                    color: $heading-color;
                    @include frmt-font-styling(24px, 32px, 700);
                }
            }

            .course-section-header {
                margin-bottom: 8px;
                // justify-content: space-between;
                flex-wrap: wrap;

                .sectionheading {
                    color: $heading-color;
                    @include frmt-font-styling(24px, 32px, 700);
                }
            }

            &.main {
                // background: transparent;
                // border: 0;
                // box-shadow: none;
                // padding: 0;
            }
            // Highliging current section
            .highlight {
                position: absolute;
                top: 0;
                width: 3px;
                bottom: 0;
                left: 0;
            }
            width: 100%;
            // Section contents.
            .card-footer {
                background: transparent;
            }
            // Indent classes for activities
            ul.section {
                padding: 0;
                .mod-indent-1 {
                    width: 35px;
                }
                .mod-indent-2 {
                    width: 70px;
                }
                .mod-indent-3 {
                    width: 105px;
                }
                .mod-indent-4 {
                    width: 140px;
                }
                .mod-indent-5 {
                    width: 175px;
                }
                .mod-indent-6 {
                    width: 210px;
                }
                .mod-indent-7 {
                    width: 245px;
                }
                .mod-indent-8 {
                    width: 280px;
                }
                .mod-indent-9 {
                    width: 315px;
                }
                .mod-indent-10 {
                    width: 350px;
                }
                .mod-indent-11 {
                    width: 385px;
                }
                .mod-indent-12 {
                    width: 420px;
                }
                .mod-indent-13 {
                    width: 455px;
                }
                .mod-indent-14 {
                    width: 490px;
                }
                .mod-indent-15 {
                    width: 525px;
                }
                .mod-indent-16 {
                    width: 560px;
                }
            }

            .right.side {
                margin-left: auto;
                @media (max-width:768px) {
                    margin-left: unset;
                }
                .section_action_menu.ml-auto {
                    margin: unset !important;
                }

                .progress-bar-warpper {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    // justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;

                    .progress {
                        height: 7px !important;
                        margin: 0px;
                        width: 233px;
                        @media (max-width:425px) {
                            width:100%;
                        }
                    }

                    .progress-text {
                        color: $paragraph-color;
                        @include frmt-font-styling(12px, 15px, 600);
                    }
                }
            }
        }
    }
    // Styling for main course page where all sections are listed.
    &.all-section-format {
        ul.sections {
            li.section {
                // Custom section content toggle icon.
                .toggle-icon {
                    // margin: 0 1rem 0 0;
                    cursor: pointer;
                    transform: rotate(-90deg);
                    border: 0 !important;
                    background: transparent !important;
                    box-shadow: none !important;
                    outline: 0 !important;
                    &::before {
                        display: flex;
                        transition: all 0.5s ease;
                        font-size: 1.2rem;
                    }
                }
                // Rotating toggle icon when section is collapsed
                &.collapsed {
                    .toggle-icon {
                        &::before {
                            transform: rotate(180deg);
                        }
                    }
                }

                .content {
                    ul.section {
                        border: unset !important;

                        .activity {
                            padding: 0px;

                            .activitytitle {
                                gap: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    .activities-list,
    .card-footer {
        ul.section {
            li:not(:last-child){
                margin-bottom: 16px;
            }
        }
    }

    // Styling for section when single section is opened.
    &.one-section-format {
        &.all-section {
            .sections {
                .section:not(#section-0) {
                    ul.section {
                        display: none;
                    }
                }
            }
        }

        // Single section activity list styling.
        .activities-list {
            // border: none;
            // -webkit-box-shadow: 0 0 8px #ddd;
            // box-shadow: 0 0 8px #ddd;
            // background-color: #fff;
            // padding: 15px;

            ul.section {
                margin: 0;
                border: unset !important;

                .activity {
                    // clear: both;
                    padding: 0px !important;

                    // border-bottom: 1px solid #f3f3f3;
                    .activitytitle {
                        gap: 24px;
                    }

                    &:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
            .section-modchooser {
                padding-top: 10px;
            }
        }
    }
}
