body#page-course-view-remuiformat {
    @import './card-layout.scss';
    @import './list-layout.scss';
    @import './variables.scss';
    @import './ellipsis.scss';
    @import './mixin.scss';

    header.hasbackground.design-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 336px;
        padding: 24px;
        border-radius: 8px;
        max-width: 100%;
        width: 100%;

        .header-main-section {
            .category {
                .badge {
                    padding: 4px 6px;
                    border-radius: 4px;
                    background-color: $white;
                    color: $secondary-brand-color;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }

        .header-sub-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            flex-wrap: wrap;

            .rating-instructor-wrapper {
                display: flex;
                gap: 24px;
                flex-wrap: wrap;

                .edw-ratings-wrapper {
                    color: $white;

                    .inner {
                        flex-direction: row-reverse;
                        gap: 8px;
                    }
                }

                .instructor-info {
                    color: $white;

                    .stat {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #313848;
                        padding: 4px;
                        border-radius: 4px;
                        background-color: #fff;
                    }
                }
            }

            .progress-resume-wrapper {
                display: flex;
                align-items: center;
                gap: 40px;
                @media (max-width: 425px) {
                    flex-wrap: wrap;
                }
                .progressbar-text-wrapper {
                    color: $white;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                }

                .progress {
                    min-width: 230px;
                    height: 7px !important;
                }
            }
        }

        .header-heading {
            color: white;
        }
    }

    .remui-format-card,
    .remui-format-list {
        .hide {
            display: none;
        }
    }
    &.editing {
        .yui3-dd-proxy {
            .section {
                text-decoration: none;
            }
        }
        .action-menu-trigger,
        .action-menu {
            .dropdown-toggle::after {
                display: none;
            }
        }
        .stretched-link::after {
            display: none;
        }
        .general-section-activities {
            .activity {
                &.modtype_folder {
                    .contentwithoutlink {
                        padding-left: 2.142rem;
                        padding-top: 0.714rem;
                    }
                }
            }
        }
    }
    .general-section-activities {
        .activity {
            // &:first-of-type {
            //     margin-left: auto;
            // }

            // &:last-of-type {
            //     margin-right: auto;
            // }
            // .activitytitle {
            //     display: flex;
            //     margin: auto;

            //     .activityiconcontainer {
            //         margin: 0 !important;
            //     }
            // }

            &.modtype_folder {

                .activityinstance,
                .activityinstance div {
                    display: block;
                }
            }

            &>div {
                width: 100%;
            }

            // .actions {
            //     display: flex;
            //     position: relative;
            //     justify-content: center;

            //     .spinner {
            //         position: relative;
            //         left: 0;
            //     }

            //     .activity-information {
            //         padding: 0 1rem;
            //     }
            // }

            .activityinstance {
                // padding: 0;
                // width: 100%;

                // .activitytitle {
                //     flex-direction: column;
                //     align-items: center;
                //     justify-content: center;
                //     width: 100%;
                //     gap: 0.5em;

                //     // .activityiconcontainer {
                //     //     align-self: center !important;
                //     //     margin-right: 0 !important;
                //     // }
                // }
            }

            .editing_move {
                z-index: 10;
            }
        }

        @media (max-width: 992px) {
            &.onshowmore {
                position: static;
            }
        }

        &.onshowmore {
            height: 350px;
        }


        .activityinstance .instancename {
            display: block;
        }
        .moodle-actionmenu {
            .dropdown-menu-right {
                .editing_moveright,
                .editing_moveleft {
                    display: none;
                }
            }
        }
    }
    .course-content {
        .sections {
            #section-0 {

                // general section
                .general-section {
                    gap: 32px;
                    padding: 0px;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    border-radius: unset;

                    .section-title {
                        color: $heading-color;
                        @include frmt-font-styling(24px, 32px, 700);
                    }

                    .section-details {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .generaldetails {
                            gap: 8px;

                            .generalsectioninfo {
                                .coursesummary {
                                    color: $paragraph-color;
                                    @include frmt-font-styling(16px, 24px, 400);
                                }

                                .readbtn {
                                    @include frmt-font-styling(14px, 17px, 600);
                                    color: $blue;
                                    text-decoration: none;
                                    cursor: pointer;
                                }
                            }
                        }

                        .coursedetails {
                            width: 100%;

                            .details {
                                gap: 8px;

                                .activities-title {
                                    color: $heading-color;
                                    @include frmt-font-styling(20px, 28px, 600);
                                }

                                .section-activities-summary {
                                    color: $paragraph-color;
                                    @include frmt-font-styling(16px, 24px, 400);
                                }
                            }
                        }
                    }

                    .activities-wrapper {
                        gap: 16px;

                        .activitieshead {
                            color: $heading-color;
                            @include frmt-font-styling(24px, 32px, 700);
                        }

                        .general-section-activities {
                            display: flex;
                            // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                            gap: 24px;
                            flex-wrap: wrap;
                            padding: 0px;
                            margin: 0px;

                            .activity {
                                padding: 24px;
                                background: $white;
                                border: 1px solid $light-border;
                                border-radius: 8px;
                                max-width: 311px;
                                flex: 0 0 25%;
                                @media (max-width:1200px) {
                                    flex: 0 0 30%;
                                }
                                @media (max-width:768px) {
                                    flex: 0 0 47%;
                                }
                                @media (max-width:576px) {
                                    flex: unset;
                                    width: 100%;
                                    max-width: 100%;
                                }
                                .activitytitle {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    gap: 16px;

                                    .activityiconcontainer {
                                        border-radius: 16px;
                                        margin-right: 0 !important;

                                        .activityinstance img {
                                            width: 28px !important;
                                            height: 28px !important;
                                        }
                                    }

                                    .media-body {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: start;
                                        gap: 8px;
                                        width: 100%;
                                        text-align: start;

                                        &>:first-child {
                                            @include frmt-font-styling(16px, 24px, 400);
                                            color: #647390;
                                        }

                                        .activityname {
                                            & a {
                                                color: $heading-color;
                                                @include frmt-font-styling(20px, 28px, 700);
                                            }

                                            .inplaceeditable {
                                                display: inline;
                                                // gap: 8px;
                                                .instancename {
                                                    display: inline;
                                                }

                                                .quickeditlink {
                                                    margin-left: 8px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .actions {
                                    display: flex;
                                    position: relative;
                                    justify-content: start;
                                    margin-top: 8px;
                                    padding: 0px;

                                    .spinner {
                                        position: relative;
                                        left: 0;
                                    }

                                    .cm_action_menu.actions {
                                        margin: 0px;
                                        width: 100%;
                                        position: unset;
                                        justify-content: flex-end;
                                    }

                                    .activity-information {
                                        width: 100%;

                                        .completion-info {
                                            width: 100%;
                                            float: left;

                                            .btn {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }

                                .editing_move {
                                    position: absolute;
                                    display: flex;
                                    left: -15px;
                                    top: -15px;
                                }

                                .contentafterlink {
                                    margin: 8px 0px 0px 0px !important;
                                    padding: 0px;
                                    display: flex;
                                    @include frmt-font-styling(14px, 22px, 400);
                                    color: $paragraph-color;
                                }
                            }
                        }
                    }

                    .showactivity{
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: 600;
                        color: #0051F9;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .sectionbadges {
                    .badge {
                        margin: 0.2rem auto;
                    }
                }
            }
            .sectionbadges {
                .badge {
                    margin-right: .5rem;
                }
            }
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            .wdm-add-new-section {
                margin-right: 5px;
                border: 1px solid #e4eaec;
            }
        }
    }
    .content .summary .no-overflow {
        width: 100%;
    }
    // /* Global */
    /* hide borders from region main */
    .container-fluid #region-main .card,
    .container-fluid #region-main {
        border: none;
    }
    /* Boost 3.4 */
    .container-fluid #region-main .card.card-block:first-of-type {
        background: transparent;
        padding: 0;
        overflow: visible;
    }
    /* Boost 3.5 */
    .container-fluid #region-main .card>.card-body:first-of-type {
        background: #f2f2f2;
        overflow: visible;
    }
    /* Boost 3.6 */
    .container-fluid #region-main {
        background: #f2f2f2;
        overflow: visible;
    }
    /* Fordson 3.7 */
    .container-fluid #region-main {
        background: #f2f2f2 !important;
        overflow: visible;
    }
    /* RemUI 3.4, 3.5, 3.6 */
    .container #region-main .card.card-block:first-of-type {
        background: transparent;
        padding: 0;
        overflow: visible;
    }
    .wdm-card-section {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .format-remuiformat div.actions form.togglecompletion button.btn.btn-link {
        font-size: 15px;
    }
    .wdm-completion-container form.togglecompletion,
    .wdm-completion-container form.togglecompletion>div {
        display: inline !important;
    }
    .wdm-completion-container form.togglecompletion .btn.btn-link,
    .wdm-completion-container .autocompletion {
        padding: 0 0 0 10px;
        background: transparent;
    }
    .wdm-completion-container form.togglecompletion .btn.btn-link:hover {
        background: transparent !important;
    }
    .wdm-completion-container form.togglecompletion .btn.btn-link img,
    .wdm-completion-container .autocompletion img {
        width: 18px;
        height: 18px;
        margin: 4px 0;
    }
    .section-summary-activities {
        padding: 2px 0 8px 0;
    }
    .flex-1 {
        flex: 1;
    }
    .w-p100 {
        width: 100% !important;
    }
    .text-right {
        text-align: right !important;
    }
    .text-center {
        text-align: center !important;
    }
    .progress-xs {
        width: 92%;
        margin: 0 auto;
        border-bottom: 0 !important;
        border-radius: 5px;
        position: relative;
        bottom: 0;
    }
    .progress-xs,
    .progress-xs .progress-bar {
        height: 6px !important;
        border-radius: 5px;
    }
    .progress-xs .progress-bar {
        line-height: 4px !important;
    }
    .bg-green-600 {
        background-color: #11c26d !important;
    }
    .progress-xs.dark {
        background-color: #e0e0e09e !important;
    }
    .progress-xs.light {
        background-color: #b7b4b4a3 !important;
    }
    #section-0 .sno {
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.8);
        padding: 5px 0;
    }
    .remui-format-card .current::before {
        left: -.1rem !important;
    }
    /* Hover effect only if Section is available. */
    div#card-container a .section-title:hover {
        text-decoration: underline;
    }
    input.ignoredirty.form-control {
        width: 100% !important;
    }
    #section-0 .progress {
        margin-bottom: 5px;
        border-radius: 15px;
        background-color: #ddd;
        height: 12px;
        border-bottom: unset;
        /* Fordson */
        margin-left: 0px;
        /* Moove */
    }
    div#card-editing-container #section-0 li.activity img.activityicon {
        vertical-align: middle;
        height: 28px;
        width: 28px;
    }
    &.theme_adaptable {
        .section-modchooser {
            .section-modchooser-link {
                *,
                a:hover {
                    color: #51666C;
                }
            }
        }
    }
    .section-modchooser {
        .section-modchooser-link {
            *,
            a:hover {
                color: white;
            }
        }
    }
    div#card-editing-container div.availabilityinfo.ishidden,
    div#card-container div.availabilityinfo.ishidden,
    li.wdm-card-single-section div.availabilityinfo {
        padding: 10px 0;
        font-weight: bold;
    }
    .wdm-section-summary.summary-muted * {
        color: #526069 !important;
        display: none;
    }
    .wdm-card-completion button.btn-link {
        padding: 0;
    }
    .wdm-card-completion button.btn-link img {
        margin: 0 2px 0 0;
    }
    #changenumsections {
        border: none;
        &>div {
            width: 100%;
        }
        .single-card,
        .card-block {
            justify-content: center;
            box-shadow: none;
            background: #e5e5e5;
        }
        a {
            color: #526069 !important;
        }
        i.fa {
            margin: 0 auto;
        }
    }
    .w-full {
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    .d-block {
        display: block;
    }
    .mdl-right {
        text-align: right;
    }
    .float-right {
        float: right;
    }
    .align-items-center {
        align-items: center;
    }
    // Show More / Show Less Button
    .showactivitywrapper {
        text-align: center !important;
        .showactivity {
            font-size: 24px;
            line-height: 24px;
            cursor: pointer;
        }
    }
    /* General section summary show/hide. */
    // .read-more-state {
    //     display: none;
    // }
    // .read-more-target {
    //     height: 110px;
    //     overflow: hidden;
    // }
    // .read-more-target:after {
    //     content: "...";
    //     display: block;
    //     clear: both;
    //     visibility: hidden;
    //     line-height: 0;
    //     height: 0;
    // }
    // .fadeout-summary {
    //     position: absolute;
    //     margin-top: -60px;
    //     width: 95%;
    //     height: 60px;
    //     background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 1) 100%);
    // }
    // .read-more-state:checked~.read-more-target {
    //     height: auto;
    //     overflow: inherit;
    // }
    // .read-more-state:checked~.fadeout-summary {
    //     display: none;
    // }
    // .read-more-trigger {
    //     cursor: pointer !important;
    // }
}
