{{#editing}}
    <div id="card-editing-container" class="row mt-20">
        {{! Display General Section }}
        {{#generalsection}}
            {{> format_remui_format/card_generalsectionedit }}
        {{/generalsection}}
        {{! Display Remaining Section }}
        <div class="row">
        {{#sections}}
            {{> format_remui_format/card_singlesection }}
        {{/sections}}
        </div>
    </div>
{{/editing}}
{{^editing}}
    <div id="card-container" class="row mt20">
        {{! Display General Section }}
        {{#generalsection}}
            {{> format_remui_format/card_generalsection }}
        {{/generalsection}}
        {{! Display Remaining Section }}
        {{#sections}}
            {{> format_remui_format/card_singlesection }}
        {{/sections}}
    </div>
{{/editing}}