<div class="col-lg-12 col-sm-12 general-single-card-container mb-15">
    <div class="general-single-card p-20">
        <div class="">
            <h2 class="section-title">{{ title }}</h2>
            {{{availability}}}
            {{{ summary }}}
            {{{activities}}}
        </div>
    </div>
</div>