<ul class="cards col-lg-12 col-sm-12 general-single-card-container mb-25 mb-4">
    <li id="section-0" class="section general-single-card px-15 px-3 pt-10 pt-2">
        <div class="">
            <div class="left side">
                {{{ leftsection }}}
            </div>
            <div class="right side">
                {{{ optionmenu }}}
            </div>
            <div class="content pb-10 pb-3">
                <h2 class="section-title">{{{ title }}}</h2>
                {{{ availability }}}
                {{{ summary }}}
                <a class="text-muted" href="{{ editsetionurl }}"><span><i class="fa fa-cog font-size-20" aria-hidden="true"></i></span></a>
                {{{ activities }}}
            </div>
        </div>
    </li>
</ul>
