<ul class="cards col-lg-12 col-sm-12 general-single-card-container p-0">
    <li class="section general-single-card p-20">
        <div class="">
            {{{ optionmenu }}}
            <h2 class="section-title">{{{ title }}}</h2>
            {{{ availability }}}
            {{{ summary }}}
            <a class="text-muted" href="{{ editsetionurl }}"><span><i class="fa fa-cog font-size-20" aria-hidden="true"></i></span></a>
            {{{ activities }}}
        </div>
    </li>
</ul>