{{#editing}}
    <ul class="remui-format-list">
        {{! Display General Section }}
        {{#generalsection}}
            {{> format_remuiformat/list_generalsectionedit }}
        {{/generalsection}}
        {{! Display Remaining Section }}
        <div class="row">
        {{#sections}}
            {{> format_remuiformat/list_singlesection }}
        {{/sections}}
        </div>
    </ul>

{{/editing}}
{{^editing}}
    <ul class="remui-format-list">
        {{! Display General Section }}
        {{#generalsection}}
            {{> format_remuiformat/list_generalsection }}
        {{/generalsection}}
        {{! Display Remaining Section }}
        {{#sections}}
            {{> format_remuiformat/list_singlesection }}
        {{/sections}}
    </ul>



{{#js}}
   jQuery('body#page-course-view-remuiformat ul.remui-format-list a.panel-title').click(function(){
      jQuery(this).find('i').toggleClass('fa-angle-down');
      jQuery(this).find('i').toggleClass('fa-angle-up');
      if(jQuery(this).parent().parent().find('.summary').is(":visible")){
        jQuery(this).parent().parent().find('.summary').hide(500);
        jQuery(this).parent().parent().find('.section-summary-activities').hide(500);
        
      }else{
        jQuery(this).parent().parent().find('.summary').show(500);
        jQuery(this).parent().parent().find('.section-summary-activities').show(500);
      }
      
   });
{{/js}}

{{/editing}}
{{{addnewsectionoption}}}