<li id="section-{{{index}}}" class="card section main clearfix" role="region" style="width: 90%; margin-left: auto; margin-right:auto;" aria-label="">
   <span class="hidden sectionname">{{{ title }}}</span>
   <div class="content card-block p-25 remui-list-content-border" style="clear:both;">
      <div class="row d-block">
        <div class="left side float-left">
          {{{ leftside }}}
        </div>
         <div class="right side float-right">
           {{{ optionmenu }}}
         </div>
         {{{leftside}}}
      </div>
      <h4 class="sectionname card-title">
         {{#editing}}
            {{{ title }}}
         {{/editing}}
         {{^editing}}
            <a class="panel-title p-0" href="{{{ singlepageurl }}}" aria-expanded="{{#collapsed}} false {{/collapsed}} {{#expanded}} true {{/expanded}}" aria-controls="sectionwrapper-{{{index}}}">{{{ title }}}
            </a>
         {{/editing}}
      </h4>
        {{{ hiddenmessage }}}
      {{#availability}}
      <div class="section_availability badge badge-pill badge-info mb-10">
        {{{availability}}}
      </div>
      {{/availability}}
      <div class="summary card-text {{#expanded}}hide{{/expanded}}">{{{summary}}}</div>
      <div class="section-summary-activities mdl-right {{#expanded}}hide{{/expanded}}">{{{activityinfostring}}}</div>
   </div>
   <span class="hidden sectionname">{{{ title }}}</span>
</li>

