{{#hiddensection}}
    {{{ hiddensection }}}
{{/hiddensection}}
{{^hiddensection}}
    <div class="col-md-12 p-0 wdm-card-section">
        <div class="card-section-leftnav {{#leftnav}}btn btn-primary{{/leftnav}}">
            {{{ leftnav }}}
        </div>
        <div class="card-section-rightnav {{#rightnav}}btn btn-primary{{/rightnav}}">
            {{{ rightnav }}}
        </div>
    </div>
    <div class="col-md-12 my-20">
        <h2 class="single-section-title m-0 {{#hidden}}text-muted{{/hidden}}">{{{ title }}}</h2>
        <p>{{{ summary}}}</p>
    </div>
    <div class="bg-white py-20">
        <div class="px-30 d-flex justify-content-end">
            {{{ optionmenu }}}
        </div>
        {{{ activities }}}
    </div>
{{/hiddensection}}