<li id="section-{{{index}}}" class="card section main clearfix" role="region" style="width: 90%; margin-left: auto; margin-right:auto;" aria-label="">
   <span class="hidden sectionname">{{{ title }}}</span>
   <div class="content card-block p-25 remui-list-content-border" style="clear:both;">
      <div class="row d-block">
        <div class="left side float-left">
          {{{ leftside }}}
        </div>
         <div class="right side float-right">
           {{{ optionmenu }}}
         </div>
         {{{leftside}}}
      </div>
      <h4 class="sectionname card-title">
         {{#editing}}
            {{{ title }}}
         {{/editing}}
         {{^editing}}
            <a class="panel-title p-0 {{#collapsed}} collapse {{/collapsed}}" data-toggle="collapse" href="#sectionwrapper-{{{index}}}" aria-expanded="{{#collapsed}} false {{/collapsed}} {{#expanded}} true {{/expanded}}" aria-controls="sectionwrapper-{{{index}}}">{{{ title }}}
            <i class="fa-angle-up float-right"></i>
            </a>
         {{/editing}}
      </h4>
        {{{ hiddenmessage }}}
      <div class="section_availability badge badge-pill badge-info mb-10">{{{availability}}}</div>
      <div class="summary card-text">{{{summary}}}</div>
      <div class="section-summary-activities mdl-right {{#expanded}}hide{{/expanded}}">{{{activityinfostring}}}</div>
   </div>
   <span class="hidden sectionname">{{{ title }}}</span>
   <div class="card-footer p-0 card-footer-transparent text-muted">
      <div class="panel activity-list">
        <div class="{{#collapsed}} collapse {{/collapsed}} {{#expanded}} show {{/expanded}}" id="sectionwrapper-{{{index}}}" aria-labelledby="sectionwrapper-{{{index}}}" role="tabpanel" aria-expanded="{{#collapsed}} true {{/collapsed}} {{#expanded}} true {{/expanded}}">
            <div class="panel-body p-0">
               {{{sectionactivities}}}
            </div>
         </div>
      </div>
    </div>
</li>

