<div class="rmuiformate-header-wrapper d-none ">
    <header id="page-header" class=" d-print-none hasbackground design-1"
        style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 110%), url('{{headercourseimage}}');background-position: {{remuiheaderimagebgposition}}; background-size:{{remuiheaderimagebgsize}};background-repeat: no-repeat;">
       <div class="align-self-end">
        {{{turneditingonswitch}}}
       </div>
        <div class="w-100 header-wrapper">
            <div class="d-flex flex-wrap w-100">
                <div class="d-flex align-items-center w-100">
                    <div class="dashboard-bar-wrapper w-100">
                        <div class="header-main-section">
                            <div class="category">
                                <span class="badge ">
                                    {{{coursecategoryname}}}
                                </span>
                            </div>
                            <div class="page-context-header p-0 m-0">
                                <div class="page-header-headings p-0">
                                    <h1 class="h2 header-heading coursepage design-1 m-0">{{{coursefullname}}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="header-sub-section">
                            <div class="rating-instructor-wrapper">
                                {{#rnrdesign}}
                                <div class="edw-ratings-wrapper">
                                    {{{rnrdesign}}}
                                </div>
                                {{/rnrdesign}}
                                {{#teachers}}
                                <div class="instructor-info stat-container">
                                    <span class="titles h-semibold-6">
                                        {{#instructors}}{{!
                                        }}{{#hasanother}},&nbsp;{{/hasanother}}{{name}}{{!
                                        }}{{/instructors}}
                                    </span>
                                    {{#teachercount}}
                                    <span class="stat">
                                        <b class="count"> +{{teachercount}}</b>
                                    </span>
                                    {{/teachercount}}
                                </div>
                                {{/teachers}}
                            </div>
                            <div class="progress-resume-wrapper">
                                <div class="progressbar-text-wrapper">
                                    <div class="progress progress-rounded">
                                        <div class="progress-bar bg-green-600"
                                            style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
                                            <span class="sr-only">{{{percentage}}}% {{#str}} Complete, format_remuiformat {{/str}}</span>
                                        </div>
                                    </div>
                                    <span>{{{percentage}}}% {{#str}} Complete, format_remuiformat {{/str}}</span>
                                </div>
                                {{#resumeactivityurl}}
                                <a class="btn btn-primary btn-block bold" href="{{{ resumeactivityurl }}}"
                                    role="button">{{#str}} resumetoactivity, format_remuiformat{{/str}}</a>
                                {{/resumeactivityurl}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </header>
</div>
{{#courseheaderdesign}}
{{#js}}
require(['format_remuiformat/headerreplaces'], function(HEADERREPLACE) {
HEADERREPLACE.init();
});
{{/js}}
{{/courseheaderdesign}}
